@model IEnumerable<DACS2.Data.Entities.Size>

@foreach (var item in Model)
{
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" class="custom-control-input size" value="@item.SizeName" id="size-@item.Id" name="size">
        <label class="custom-control-label" for="size-@item.Id">@item.SizeName</label>
    </div>
}
