@model IEnumerable<DACS2.Data.Entities.Image>

@foreach (var item in Model)
{
    <div class="swiper-slide">
        <img class="w-100 h-100" src="~/img/products/@item.pathImage" alt="Image">
    </div>
}
