USE [DACS2-MVC]
GO
/****** Object:  Table [dbo].[CategoryNews]    Script Date: 12/16/2022 1:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryNews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NewsName] [nvarchar](max) NOT NULL,
	[CreateAt] [datetime2](7) NULL,
	[UpdateAt] [datetime2](7) NULL,
	[CreateBy] [int] NULL,
	[DeleteAt] [datetime2](7) NULL,
	[DetleteBy] [datetime2](7) NULL,
	[DislayOrder] [int] NULL,
 CONSTRAINT [PK_CategoryNews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryProduct]    Script Date: 12/16/2022 1:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryProduct](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](max) NOT NULL,
	[pathImg] [nvarchar](max) NULL,
	[SoLuong] [int] NOT NULL,
	[CreateAt] [datetime2](7) NULL,
	[UpdateAt] [datetime2](7) NULL,
	[CreateBy] [int] NULL,
	[DeleteAt] [datetime2](7) NULL,
	[DetleteBy] [datetime2](7) NULL,
	[DislayOrder] [int] NULL,
 CONSTRAINT [PK_CategoryProduct] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Color]    Script Date: 12/16/2022 1:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Color](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ColorName] [nvarchar](max) NOT NULL,
	[Amount] [int] NOT NULL,
	[IdProduct] [int] NOT NULL,
	[CreateAt] [datetime2](7) NULL,
	[UpdateAt] [datetime2](7) NULL,
	[CreateBy] [int] NULL,
	[DeleteAt] [datetime2](7) NULL,
	[DetleteBy] [datetime2](7) NULL,
	[DislayOrder] [int] NULL,
 CONSTRAINT [PK_Color] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Image]    Script Date: 12/16/2022 1:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[pathImage] [nvarchar](max) NOT NULL,
	[IdProduct] [int] NOT NULL,
	[IdDesign] [int] NULL,
	[CreateAt] [datetime2](7) NULL,
	[UpdateAt] [datetime2](7) NULL,
	[CreateBy] [int] NULL,
	[DeleteAt] [datetime2](7) NULL,
	[DetleteBy] [datetime2](7) NULL,
	[DislayOrder] [int] NULL,
 CONSTRAINT [PK_Image] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 12/16/2022 1:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameCustomer] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[NumberPhone] [nvarchar](max) NOT NULL,
	[TotalMoney] [decimal](18, 2) NOT NULL,
	[StatusId] [int] NOT NULL,
	[CreateAt] [datetime2](7) NULL,
	[UpdateAt] [datetime2](7) NULL,
	[CreateBy] [int] NULL,
	[DeleteAt] [datetime2](7) NULL,
	[DetleteBy] [datetime2](7) NULL,
	[DislayOrder] [int] NULL,
	[useVoucher] [nvarchar](max) NULL,
 CONSTRAINT [PK_Invoice] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceDetails]    Script Date: 12/16/2022 1:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](max) NOT NULL,
	[Amount] [int] NOT NULL,
	[Money] [decimal](18, 2) NOT NULL,
	[IdInvoice] [int] NOT NULL,
	[Color] [nvarchar](max) NOT NULL,
	[Size] [nvarchar](max) NOT NULL,
	[pathImg] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_InvoiceDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MstPerMission]    Script Date: 12/16/2022 1:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MstPerMission](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[Table] [nvarchar](max) NOT NULL,
	[Desc] [nvarchar](max) NOT NULL,
	[GroupName] [nvarchar](max) NOT NULL,
	[CreateAt] [datetime2](7) NULL,
	[UpdateAt] [datetime2](7) NULL,
	[CreateBy] [int] NULL,
	[DeleteAt] [datetime2](7) NULL,
	[DetleteBy] [datetime2](7) NULL,
	[DislayOrder] [int] NULL,
 CONSTRAINT [PK_MstPerMission] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 12/16/2022 1:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[pathImg] [nvarchar](max) NOT NULL,
	[IdCategoryNew] [int] NOT NULL,
	[CreateAt] [datetime2](7) NULL,
	[UpdateAt] [datetime2](7) NULL,
	[CreateBy] [int] NULL,
	[DeleteAt] [datetime2](7) NULL,
	[DetleteBy] [datetime2](7) NULL,
	[DislayOrder] [int] NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Policy]    Script Date: 12/16/2022 1:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Policy](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PolicyName] [nvarchar](max) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CreateAt] [datetime2](7) NULL,
	[UpdateAt] [datetime2](7) NULL,
	[CreateBy] [int] NULL,
	[DeleteAt] [datetime2](7) NULL,
	[DetleteBy] [datetime2](7) NULL,
	[DislayOrder] [int] NULL,
 CONSTRAINT [PK_Policy] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 12/16/2022 1:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[ImportPrice] [int] NULL,
	[Price] [int] NOT NULL,
	[Amount] [int] NOT NULL,
	[Unit] [nvarchar](max) NOT NULL,
	[Sold] [int] NOT NULL,
	[slug] [nvarchar](max) NOT NULL,
	[pathImgP] [nvarchar](max) NULL,
	[IdProductCategory] [int] NOT NULL,
	[IdSuplier] [int] NOT NULL,
	[CreateAt] [datetime2](7) NULL,
	[UpdateAt] [datetime2](7) NULL,
	[CreateBy] [int] NULL,
	[DeleteAt] [datetime2](7) NULL,
	[DetleteBy] [datetime2](7) NULL,
	[DislayOrder] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 12/16/2022 1:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[ReportContent] [nvarchar](max) NOT NULL,
	[Status] [bit] NOT NULL,
	[CreateAt] [datetime2](7) NULL,
	[UpdateAt] [datetime2](7) NULL,
	[CreateBy] [int] NULL,
	[DeleteAt] [datetime2](7) NULL,
	[DetleteBy] [datetime2](7) NULL,
	[DislayOrder] [int] NULL,
	[NumberPhone] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Report] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 12/16/2022 1:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CreateAt] [datetime2](7) NULL,
	[UpdateAt] [datetime2](7) NULL,
	[CreateBy] [int] NULL,
	[DeleteAt] [datetime2](7) NULL,
	[DetleteBy] [datetime2](7) NULL,
	[DislayOrder] [int] NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermission]    Script Date: 12/16/2022 1:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermission](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[MStPermissionId] [int] NOT NULL,
	[CreateAt] [datetime2](7) NULL,
	[UpdateAt] [datetime2](7) NULL,
	[CreateBy] [int] NULL,
	[DeleteAt] [datetime2](7) NULL,
	[DetleteBy] [datetime2](7) NULL,
	[DislayOrder] [int] NULL,
 CONSTRAINT [PK_RolePermission] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Size]    Script Date: 12/16/2022 1:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Size](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SizeName] [nvarchar](max) NOT NULL,
	[Amount] [int] NULL,
	[IdProduct] [int] NOT NULL,
	[CreateAt] [datetime2](7) NULL,
	[UpdateAt] [datetime2](7) NULL,
	[CreateBy] [int] NULL,
	[DeleteAt] [datetime2](7) NULL,
	[DetleteBy] [datetime2](7) NULL,
	[DislayOrder] [int] NULL,
 CONSTRAINT [PK_Size] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 12/16/2022 1:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](max) NOT NULL,
	[CreateAt] [datetime2](7) NULL,
	[UpdateAt] [datetime2](7) NULL,
	[CreateBy] [int] NULL,
	[DeleteAt] [datetime2](7) NULL,
	[DetleteBy] [datetime2](7) NULL,
	[DislayOrder] [int] NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 12/16/2022 1:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](max) NOT NULL,
	[CreateAt] [datetime2](7) NULL,
	[UpdateAt] [datetime2](7) NULL,
	[CreateBy] [int] NULL,
	[DeleteAt] [datetime2](7) NULL,
	[DetleteBy] [datetime2](7) NULL,
	[DislayOrder] [int] NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[System]    Script Date: 12/16/2022 1:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[System](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Gmail] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[CreateAt] [datetime2](7) NULL,
	[UpdateAt] [datetime2](7) NULL,
	[CreateBy] [int] NULL,
	[DeleteAt] [datetime2](7) NULL,
	[DetleteBy] [datetime2](7) NULL,
	[DislayOrder] [int] NULL,
 CONSTRAINT [PK_System] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 12/16/2022 1:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[PasswordHash] [varbinary](max) NOT NULL,
	[PasswordSalt] [varbinary](max) NOT NULL,
	[Gmail] [nvarchar](max) NOT NULL,
	[SDT] [nvarchar](max) NOT NULL,
	[IdRole] [int] NULL,
	[CreateAt] [datetime2](7) NULL,
	[UpdateAt] [datetime2](7) NULL,
	[CreateBy] [int] NULL,
	[DeleteAt] [datetime2](7) NULL,
	[DetleteBy] [datetime2](7) NULL,
	[DislayOrder] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 12/16/2022 1:16:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VoucherName] [nvarchar](max) NOT NULL,
	[price] [int] NULL,
	[amount] [int] NOT NULL,
	[percent] [int] NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[CreateAt] [datetime2](7) NULL,
	[UpdateAt] [datetime2](7) NULL,
	[CreateBy] [int] NULL,
	[DeleteAt] [datetime2](7) NULL,
	[DetleteBy] [datetime2](7) NULL,
	[DislayOrder] [int] NULL,
 CONSTRAINT [PK_Voucher] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CategoryNews] ON 

INSERT [dbo].[CategoryNews] ([Id], [NewsName], [CreateAt], [UpdateAt], [CreateBy], [DeleteAt], [DetleteBy], [DislayOrder]) VALUES (8, N'Tin tuyển dụng', CAST(N'2022-12-03T19:03:10.0818609' AS DateTime2), CAST(N'2022-12-03T19:03:10.0818609' AS DateTime2), 1, NULL, NULL, NULL)
INSERT [dbo].[CategoryNews] ([Id], [NewsName], [CreateAt], [UpdateAt], [CreateBy], [DeleteAt], [DetleteBy], [DislayOrder]) VALUES (9, N'Tin khuyến mãi tháng 1', CAST(N'2022-12-04T20:29:05.8179729' AS DateTime2), CAST(N'2022-12-04T20:29:05.8179729' AS DateTime2), 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[CategoryNews] OFF
GO
SET IDENTITY_INSERT [dbo].[CategoryProduct] ON 

INSERT [dbo].[CategoryProduct] ([Id], [CategoryName], [pathImg], [SoLuong], [CreateAt], [UpdateAt], [CreateBy], [DeleteAt], [DetleteBy], [DislayOrder]) VALUES (1, N'Quần jeans', N'ao_khoac_ni_nam_devision_8f2412-11-2022-14-11-19-958.jpg', 0, CAST(N'2022-11-12T14:11:20.0100111' AS DateTime2), CAST(N'2022-11-12T14:11:20.0100111' AS DateTime2), 1, CAST(N'2022-11-12T14:11:49.5660658' AS DateTime2), NULL, NULL)
INSERT [dbo].[CategoryProduct] ([Id], [CategoryName], [pathImg], [SoLuong], [CreateAt], [UpdateAt], [CreateBy], [DeleteAt], [DetleteBy], [DislayOrder]) VALUES (2, N'Áo thun', N'CDL10_112-11-2022-14-11-30-454.jpg', 2, CAST(N'2022-11-12T14:11:30.4616378' AS DateTime2), CAST(N'2022-12-06T13:37:26.9415856' AS DateTime2), 1, NULL, NULL, NULL)
INSERT [dbo].[CategoryProduct] ([Id], [CategoryName], [pathImg], [SoLuong], [CreateAt], [UpdateAt], [CreateBy], [DeleteAt], [DetleteBy], [DislayOrder]) VALUES (3, N'Quần baggy', N'quan-baggy-nam-80012-11-2022-14-11-42-212.jpg', 0, CAST(N'2022-11-12T14:11:42.2178369' AS DateTime2), CAST(N'2022-11-12T14:11:42.2178369' AS DateTime2), 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[CategoryProduct] OFF
GO
SET IDENTITY_INSERT [dbo].[Color] ON 

INSERT [dbo].[Color] ([Id], [ColorName], [Amount], [IdProduct], [CreateAt], [UpdateAt], [CreateBy], [DeleteAt], [DetleteBy], [DislayOrder]) VALUES (1, N'Nâu', 105, 1, NULL, CAST(N'2022-12-06T12:49:45.6270645' AS DateTime2), NULL, NULL, NULL, NULL)
INSERT [dbo].[Color] ([Id], [ColorName], [Amount], [IdProduct], [CreateAt], [UpdateAt], [CreateBy], [DeleteAt], [DetleteBy], [DislayOrder]) VALUES (2, N'đỏ', 41, 2, NULL, CAST(N'2022-12-06T12:49:45.5755831' AS DateTime2), NULL, NULL, NULL, NULL)
INSERT [dbo].[Color] ([Id], [ColorName], [Amount], [IdProduct], [CreateAt], [UpdateAt], [CreateBy], [DeleteAt], [DetleteBy], [DislayOrder]) VALUES (3, N'Xanh', 100, 3, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Color] OFF
GO
SET IDENTITY_INSERT [dbo].[Image] ON 

INSERT [dbo].[Image] ([Id], [pathImage], [IdProduct], [IdDesign], [CreateAt], [UpdateAt], [CreateBy], [DeleteAt], [DetleteBy], [DislayOrder]) VALUES (1, N'd0c10369-0b96-4c51-b10f-740de02912-11-2022-14-16-34-397.jpg', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Image] ([Id], [pathImage], [IdProduct], [IdDesign], [CreateAt], [UpdateAt], [CreateBy], [DeleteAt], [DetleteBy], [DislayOrder]) VALUES (2, N'879e551d-1893-4109-975d-4fb6ece912-11-2022-14-16-34-403.jpg', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Image] ([Id], [pathImage], [IdProduct], [IdDesign], [CreateAt], [UpdateAt], [CreateBy], [DeleteAt], [DetleteBy], [DislayOrder]) VALUES (3, N'9a8b495b-3166-470b-8374-f5393f8f12-11-2022-14-16-34-409.jpg', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Image] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoice] ON 

INSERT [dbo].[Invoice] ([Id], [NameCustomer], [Address], [NumberPhone], [TotalMoney], [StatusId], [CreateAt], [UpdateAt], [CreateBy], [DeleteAt], [DetleteBy], [DislayOrder], [useVoucher]) VALUES (16, N'hoài bảo', N'sóc trăng', N'1231312', CAST(2399990.00 AS Decimal(18, 2)), 2, NULL, CAST(N'2022-12-02T15:58:05.0501333' AS DateTime2), 4, NULL, NULL, NULL, NULL)
INSERT [dbo].[Invoice] ([Id], [NameCustomer], [Address], [NumberPhone], [TotalMoney], [StatusId], [CreateAt], [UpdateAt], [CreateBy], [DeleteAt], [DetleteBy], [DislayOrder], [useVoucher]) VALUES (17, N'hoài bảo', N'342', N'1231312', CAST(2200000.00 AS Decimal(18, 2)), 3, NULL, CAST(N'2022-12-02T23:46:39.6788800' AS DateTime2), 4, NULL, NULL, NULL, NULL)
INSERT [dbo].[Invoice] ([Id], [NameCustomer], [Address], [NumberPhone], [TotalMoney], [StatusId], [CreateAt], [UpdateAt], [CreateBy], [DeleteAt], [DetleteBy], [DislayOrder], [useVoucher]) VALUES (18, N'asds4567890', N'sóc trăng', N'1231312', CAST(1600000.00 AS Decimal(18, 2)), 1, CAST(N'2022-12-03T00:25:04.7284901' AS DateTime2), CAST(N'2022-12-03T00:25:04.7284901' AS DateTime2), 4, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Invoice] OFF
GO
SET IDENTITY_INSERT [dbo].[InvoiceDetails] ON 

INSERT [dbo].[InvoiceDetails] ([Id], [ProductName], [Amount], [Money], [IdInvoice], [Color], [Size], [pathImg]) VALUES (17, N'LEVENTS PUNCH VARSITY BLACK/ RED', 3, CAST(800000.00 AS Decimal(18, 2)), 16, N'đỏ', N'3', N'z3835473589564_b78c19d7de3deefb612-11-2022-14-20-25-625.jpg')
INSERT [dbo].[InvoiceDetails] ([Id], [ProductName], [Amount], [Money], [IdInvoice], [Color], [Size], [pathImg]) VALUES (18, N'LEVENTS PUNCH VARSITY BLACK/ RED', 2, CAST(800000.00 AS Decimal(18, 2)), 17, N'đỏ', N'2', N'z3835473589564_b78c19d7de3deefb612-11-2022-14-20-25-625.jpg')
INSERT [dbo].[InvoiceDetails] ([Id], [ProductName], [Amount], [Money], [IdInvoice], [Color], [Size], [pathImg]) VALUES (19, N'SIGNATURE SEASON 2022 HOODIE / BROWN COLOR', 2, CAST(300000.00 AS Decimal(18, 2)), 17, N'Nâu', N'XS', N'969aa5b2-0c00-4a6c-ac37-b8ae9c5912-11-2022-14-16-34-390.jpg')
SET IDENTITY_INSERT [dbo].[InvoiceDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[MstPerMission] ON 

INSERT [dbo].[MstPerMission] ([Id], [Code], [Table], [Desc], [GroupName], [CreateAt], [UpdateAt], [CreateBy], [DeleteAt], [DetleteBy], [DislayOrder]) VALUES (1001, N'VIEW_LIST', N'User', N'Xem danh sách tài khoản', N'Quản lý tài khoản', CAST(N'2021-11-10T00:00:00.0000000' AS DateTime2), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[MstPerMission] ([Id], [Code], [Table], [Desc], [GroupName], [CreateAt], [UpdateAt], [CreateBy], [DeleteAt], [DetleteBy], [DislayOrder]) VALUES (1002, N'VIEW_DETAIL', N'User', N'Xem tài khoản', N'Quản lý tài khoản', CAST(N'2021-11-10T00:00:00.0000000' AS DateTime2), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[MstPerMission] ([Id], [Code], [Table], [Desc], [GroupName], [CreateAt], [UpdateAt], [CreateBy], [DeleteAt], [DetleteBy], [DislayOrder]) VALUES (1003, N'CREATE', N'User', N'Thêm tài khoản', N'Quản lý tài khoản', CAST(N'2021-11-10T00:00:00.0000000' AS DateTime2), NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[MstPerMission] OFF
GO
SET IDENTITY_INSERT [dbo].[News] ON 

SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[Policy] ON 

INSERT [dbo].[Policy] ([Id], [PolicyName], [Content], [CreateAt], [UpdateAt], [CreateBy], [DeleteAt], [DetleteBy], [DislayOrder]) VALUES (2, N'Chính sách đổi trả hàng1', N'<p>vbjcxjkvjkncvlkmcxl;l;cxl;bl;''cxbl,;vc</p>', CAST(N'2022-12-04T20:26:53.0595804' AS DateTime2), CAST(N'2022-12-04T20:26:53.0595804' AS DateTime2), 1, CAST(N'2022-12-04T20:27:12.0502028' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Policy] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Report] ON 

INSERT [dbo].[Report] ([Id], [FullName], [ReportContent], [Status], [CreateAt], [UpdateAt], [CreateBy], [DeleteAt], [DetleteBy], [DislayOrder], [NumberPhone]) VALUES (1, N'Lê Trần Hoài Bảo', N'<p>nhân viên shop chửi tui</p>', 1, CAST(N'2022-12-01T19:43:53.9041457' AS DateTime2), CAST(N'2022-12-01T21:35:02.5837151' AS DateTime2), NULL, NULL, NULL, NULL, N'1231312')
INSERT [dbo].[Report] ([Id], [FullName], [ReportContent], [Status], [CreateAt], [UpdateAt], [CreateBy], [DeleteAt], [DetleteBy], [DislayOrder], [NumberPhone]) VALUES (2, N'Lê Trần Hoài Bảo', N'2141212 cứu tui', 1, CAST(N'2022-12-01T21:16:53.2830472' AS DateTime2), CAST(N'2022-12-04T20:20:48.0609744' AS DateTime2), 1, NULL, NULL, NULL, N'1231312')
INSERT [dbo].[Report] ([Id], [FullName], [ReportContent], [Status], [CreateAt], [UpdateAt], [CreateBy], [DeleteAt], [DetleteBy], [DislayOrder], [NumberPhone]) VALUES (3, N'Lê Trần Hoài Bảo', N'Test phản hồi', 0, CAST(N'2022-12-04T20:20:33.3407086' AS DateTime2), CAST(N'2022-12-04T20:20:33.3407086' AS DateTime2), 1, NULL, NULL, NULL, N'0522995259')
SET IDENTITY_INSERT [dbo].[Report] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [RoleName], [Description], [CreateAt], [UpdateAt], [CreateBy], [DeleteAt], [DetleteBy], [DislayOrder]) VALUES (1, N'Quản trị hệ thống', N'Quản lý toàn bộ hệ thống trang web', CAST(N'2022-11-12T14:10:45.5185601' AS DateTime2), CAST(N'2022-11-15T15:38:18.1868002' AS DateTime2), 1, NULL, NULL, NULL)
INSERT [dbo].[Role] ([Id], [RoleName], [Description], [CreateAt], [UpdateAt], [CreateBy], [DeleteAt], [DetleteBy], [DislayOrder]) VALUES (2, N'Khách hàng', N'Khách hàng của trang web', CAST(N'2022-11-15T13:26:14.6072784' AS DateTime2), CAST(N'2022-11-30T23:39:36.9528169' AS DateTime2), 1, NULL, NULL, NULL)
INSERT [dbo].[Role] ([Id], [RoleName], [Description], [CreateAt], [UpdateAt], [CreateBy], [DeleteAt], [DetleteBy], [DislayOrder]) VALUES (3, N'12312aaa', N'2342342', CAST(N'2022-11-15T15:16:25.1262888' AS DateTime2), CAST(N'2022-11-15T15:16:25.1262888' AS DateTime2), 1, CAST(N'2022-12-05T10:49:32.9100000' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[RolePermission] ON 

INSERT [dbo].[RolePermission] ([Id], [RoleId], [MStPermissionId], [CreateAt], [UpdateAt], [CreateBy], [DeleteAt], [DetleteBy], [DislayOrder]) VALUES (1, 1, 9908, CAST(N'2022-11-12T14:10:45.8365180' AS DateTime2), CAST(N'2022-11-12T14:10:45.8365180' AS DateTime2), 1, NULL, NULL, NULL)
INSERT [dbo].[RolePermission] ([Id], [RoleId], [MStPermissionId], [CreateAt], [UpdateAt], [CreateBy], [DeleteAt], [DetleteBy], [DislayOrder]) VALUES (2, 1, 9904, CAST(N'2022-11-12T14:10:45.8365402' AS DateTime2), CAST(N'2022-11-12T14:10:45.8365402' AS DateTime2), 1, NULL, NULL, NULL)
INSERT [dbo].[RolePermission] ([Id], [RoleId], [MStPermissionId], [CreateAt], [UpdateAt], [CreateBy], [DeleteAt], [DetleteBy], [DislayOrder]) VALUES (3, 1, 9903, CAST(N'2022-11-12T14:10:45.8365412' AS DateTime2), CAST(N'2022-11-12T14:10:45.8365412' AS DateTime2), 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[RolePermission] OFF
GO
SET IDENTITY_INSERT [dbo].[Size] ON 

INSERT [dbo].[Size] ([Id], [SizeName], [Amount], [IdProduct], [CreateAt], [UpdateAt], [CreateBy], [DeleteAt], [DetleteBy], [DislayOrder]) VALUES (1, N'XS', NULL, 1, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Size] ([Id], [SizeName], [Amount], [IdProduct], [CreateAt], [UpdateAt], [CreateBy], [DeleteAt], [DetleteBy], [DislayOrder]) VALUES (2, N'S', NULL, 1, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Size] ([Id], [SizeName], [Amount], [IdProduct], [CreateAt], [UpdateAt], [CreateBy], [DeleteAt], [DetleteBy], [DislayOrder]) VALUES (3, N'L', NULL, 1, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Size] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([Id], [StatusName], [CreateAt], [UpdateAt], [CreateBy], [DeleteAt], [DetleteBy], [DislayOrder]) VALUES (1, N'Đang chờ xử lý', CAST(N'2022-12-05T10:15:21.2592381' AS DateTime2), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Status] ([Id], [StatusName], [CreateAt], [UpdateAt], [CreateBy], [DeleteAt], [DetleteBy], [DislayOrder]) VALUES (2, N'Đang lấy hàng', CAST(N'2022-12-05T10:15:21.2592381' AS DateTime2), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Status] ([Id], [StatusName], [CreateAt], [UpdateAt], [CreateBy], [DeleteAt], [DetleteBy], [DislayOrder]) VALUES (3, N'Đang giao hàng', CAST(N'2022-12-05T10:15:21.2592381' AS DateTime2), NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([Id], [SupplierName], [CreateAt], [UpdateAt], [CreateBy], [DeleteAt], [DetleteBy], [DislayOrder]) VALUES (1, N'Levent', CAST(N'2022-11-12T14:12:54.9531967' AS DateTime2), CAST(N'2022-11-12T14:12:54.9531967' AS DateTime2), 1, NULL, NULL, NULL)
INSERT [dbo].[Supplier] ([Id], [SupplierName], [CreateAt], [UpdateAt], [CreateBy], [DeleteAt], [DetleteBy], [DislayOrder]) VALUES (2, N'Dream DC', CAST(N'2022-11-12T14:12:58.3605103' AS DateTime2), CAST(N'2022-11-12T14:12:58.3605103' AS DateTime2), 1, NULL, NULL, NULL)
INSERT [dbo].[Supplier] ([Id], [SupplierName], [CreateAt], [UpdateAt], [CreateBy], [DeleteAt], [DetleteBy], [DislayOrder]) VALUES (3, N'Ourterity', CAST(N'2022-11-12T14:13:03.7978957' AS DateTime2), CAST(N'2022-11-12T14:13:03.7978957' AS DateTime2), 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Supplier] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[Voucher] ON 

INSERT [dbo].[Voucher] ([Id], [VoucherName], [price], [amount], [percent], [StartDate], [EndDate], [CreateAt], [UpdateAt], [CreateBy], [DeleteAt], [DetleteBy], [DislayOrder]) VALUES (1, N'MAGIAMGIA1', 10, 100, NULL, CAST(N'2022-12-01T00:52:00.0000000' AS DateTime2), CAST(N'2022-12-31T00:52:00.0000000' AS DateTime2), CAST(N'2022-12-01T00:52:31.3083276' AS DateTime2), CAST(N'2022-12-01T00:52:31.3083276' AS DateTime2), 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Voucher] OFF
GO
ALTER TABLE [dbo].[Color] ADD  DEFAULT ((0)) FOR [Amount]
GO
ALTER TABLE [dbo].[InvoiceDetails] ADD  DEFAULT (N'') FOR [pathImg]
GO
ALTER TABLE [dbo].[Report] ADD  DEFAULT (N'') FOR [NumberPhone]
GO
ALTER TABLE [dbo].[Color]  WITH CHECK ADD  CONSTRAINT [FK_Color_Product_IdProduct] FOREIGN KEY([IdProduct])
REFERENCES [dbo].[Product] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Color] CHECK CONSTRAINT [FK_Color_Product_IdProduct]
GO
ALTER TABLE [dbo].[Image]  WITH CHECK ADD  CONSTRAINT [FK_Image_Product_IdProduct] FOREIGN KEY([IdProduct])
REFERENCES [dbo].[Product] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Image] CHECK CONSTRAINT [FK_Image_Product_IdProduct]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Status_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_Status_StatusId]
GO
ALTER TABLE [dbo].[InvoiceDetails]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceDetails_Invoice_IdInvoice] FOREIGN KEY([IdInvoice])
REFERENCES [dbo].[Invoice] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceDetails] CHECK CONSTRAINT [FK_InvoiceDetails_Invoice_IdInvoice]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_News_CategoryNews_IdCategoryNew] FOREIGN KEY([IdCategoryNew])
REFERENCES [dbo].[CategoryNews] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_News_CategoryNews_IdCategoryNew]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_CategoryProduct_IdProductCategory] FOREIGN KEY([IdProductCategory])
REFERENCES [dbo].[CategoryProduct] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_CategoryProduct_IdProductCategory]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Supplier_IdSuplier] FOREIGN KEY([IdSuplier])
REFERENCES [dbo].[Supplier] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Supplier_IdSuplier]
GO
ALTER TABLE [dbo].[RolePermission]  WITH CHECK ADD  CONSTRAINT [FK_RolePermission_MstPerMission_MStPermissionId] FOREIGN KEY([MStPermissionId])
REFERENCES [dbo].[MstPerMission] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolePermission] CHECK CONSTRAINT [FK_RolePermission_MstPerMission_MStPermissionId]
GO
ALTER TABLE [dbo].[RolePermission]  WITH CHECK ADD  CONSTRAINT [FK_RolePermission_Role_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolePermission] CHECK CONSTRAINT [FK_RolePermission_Role_RoleId]
GO
ALTER TABLE [dbo].[Size]  WITH CHECK ADD  CONSTRAINT [FK_Size_Product_IdProduct] FOREIGN KEY([IdProduct])
REFERENCES [dbo].[Product] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Size] CHECK CONSTRAINT [FK_Size_Product_IdProduct]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role_IdRole] FOREIGN KEY([IdRole])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role_IdRole]
GO
