@model IEnumerable<DACS2.Web.Areas.Admin.ViewModel.CategoryProduct.ListCategoryProductVM>

@{
    ViewData["Title"] = "Danh sách thể loại sản phẩm";
}

@if (User.IsInPermission(AuthConst.Product.CREATE))
{
    <div class="my-2">
        <a class="btn btn-primary" asp-action="Create">
            <i class="fas fa-plus-circle"></i> &nbsp; Thêm mới thể loại
        </a>
    </div>
}


<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Thể loại sản phẩm</th>
                <th>Hình ảnh</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="fit">@item.Id</td>
                    <td>@item.CategoryName</td>
                    <td><img style="width:50px;height:30px" src="/img/categoryProduct/@item.pathImg" /></td>
                    <td class="fit">
                        @if (User.IsInPermission(AuthConst.CategoryProduct.DELETE))
                        {
                            <a asp-action="Delete" asp-controller="CategoryProduct" asp-route-id="@item.Id"
                               class="btn btn-outline-secondary btn-sm"><i class="fas fa-trash"></i></a>
                        }
                        @if (User.IsInPermission(AuthConst.CategoryProduct.UPDATE))
                        {

                            <button class="btn btn-outline-secondary btn-sm js-addorupdate" data-id="@item.Id" data-bs-toggle="modal" data-bs-target="#modal">
                                <i class="fas fa-pen"></i>
                            </button>
                        }


                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<partial name="_Pager" />
@*Modal add or update*@
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fal fa-times"></i></button>
            </div>
            <div class="modal-AddorUpdate">

            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-secondary js-close">Thoát</button>
                <button type="button" class="btn btn-primary js-postdata">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/adminLTE/dist/js/categoryProduct/categoryProduct.js" asp-append-version="true"></script>
}