@model IEnumerable<DACS2.Data.Entities.Color>
@foreach (var item in Model)
{
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" class="custom-control-input" value="@item.ColorName" data-id="@item.Id" id="color-@item.Id" name="color">
        <label class="custom-control-label" for="color-@item.Id">@item.ColorName</label>
    </div>
}

